// general ui
.gbtn {
  width: 130px;
  height: 30px;
  box-sizing: border-box;
  text-align: center;
  padding: 7px 0px;
  // border-bottom: 1px solid #999;
  border-radius: 2%;
  line-height: 20px;
  vertical-align: middle;
  // background: $gbtnColor;
  color: #666;
  // border: 1px solid #fa2828;
  &.right {
    float: right;
  }
  &:hover {
    // border-bottom: 3px solid #fa2828;
    color: $gbtnColor;
    // background: white;
    // font-weight: bold;
  }
}
