//subpage
body.subpage {
  main {
    .container {
      display: flex;
      // 왼쪽메뉴
      #lnb {
        flex: 220px;
        flex-shrink: 0;
        flex-grow: 0;
        box-sizing: border-box;
        padding-right: 70px;
        ul {
          li {
            // border-bottom: 1px solid $borderColorPrimary;
            &.on {
              a {
                color: #fff;
                // border: 1px solid #bd0000;
                background: #bd0000;
                padding-left: 20px;
              }
            }
            &:hover {
              a {
                padding-left: 20px;
              }
            }
            a {
              display: inline-block;
              width: 100%;
              height: 100%;
              line-height: 50px;
              font-size: $fontSizeMid;
              box-sizing: border-box;
            }
          }
        }
      }
      .content {
        flex: 100%;
      }
      // sub page title 영역
      .sub-title {
        span {
          position: relative;
          display: inline-block;
          padding-bottom: 6px; // 언더라인과 텍스트 간격
          font-size: 24px;
          font-weight: bold;
          line-height: 43px;
          &:after {
            content:'';
            position: absolute;
            height: 3px;
            background: $borderColorPrimary;
            bottom: 0;
            left: 0;
            right: 0;
          }
        }
      }
      // page content 영역
      .inner {
        & + .inner {
          margin-top: 50px;
          padding-top: 50px;
          border-top: 1px solid $borderColorPrimary;
        }
        .box {
          flex-wrap: wrap;
        }
      }
      }
    }
  }

  //services wrap
  .content {
    min-height: 900px;
    .category {
      .category-title {
      // border-top: 1px solid #ddd;
      margin-top: 60px;
      font-size: $fontSizeBig;
      }
      .sub-title {
        margin-bottom: 40px;
      }
      // margin: 50px;
      .wrap {
        .ser-items {
          padding-bottom:30px;
          margin-top: 30px;
          width: calc(33%);
          position: relative;
          float: left;
          .subtitle {
            // font-size: 16px;
            font-weight: 700;
            color: #494949;
            // max-width: 240px;
            margin-bottom: 15px;
          }
          p { font-size: 14px;
            color: #999;

          }
        }
        .ser-text {
          padding: 0px 0 0 90px;
          line-height: 15px;
        }
        img {
          position: absolute;
          width: 70px;
          height: 70px;
          vertical-align:middle;
        }
      }
    }

  }
  // gallery
  .content {
    &.gallery {
      .inner {
        #gallery-box-wrap {
          margin-top: 80px;
        }
      }
    }
  }
  // FAQ
  .content {
    &.faq {
      min-height: 650px;
    }
  }
  // Notice
  // Location
// }
