// 변수처리 하는곳

//site width
$siteWidth: 1320px;
$mainWidth: 1920px;

//text size
$fontSizeSamll: 12px;
$fontSizeNormal: 16px;
$fontSizeMid: 18px;
$fontSizeBig: 21px;

//title text size
$titleFontSizeSmall: 21px;
$titleFontSizeNormal: 24px;
$titleFontSizeMid: 26px;
$titleFontSizeBig: 32px;
$titleFontSizeH2: 40px;

// color
// background color
$layoutBg: #fff3c4;
$tableBg: #443e41;
$tableCellBg: #e6e3e4;

// font color
$fontColorBasic: #666666;
// $fontColorPrimary: #b8944d;
$fontColorPrimary: #333333;
$fontColorHover: #fa2828;
$fontColorBold: #494949;

//border color
$borderColorPrimary: #bd0000;
$borderBgColor: #d60000;

//button color
$gbtnColor: #999999;
$gbtnColorHover: #e3a936;
