.gbtn {
  width: 130px;
  height: 30px;
  box-sizing: border-box;
  text-align: center;
  padding: 7px 20px;
  border-bottom: 1px solid #999;
  border-radius: 2%;
  line-height: 20px;
  vertical-align: middle;
  color: #666;
}

.gbtn.right {
  float: right;
}

.gbtn:hover {
  background: white;
}
