@charset "UTF-8";
html, body {
  height: 100%;
}

body {
  color: #666666;
}

html, body, ul, li, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333333;
  transition: .2s;
}

a:hover {
  color: #fa2828;
}

.gbtn {
  width: 130px;
  height: 30px;
  box-sizing: border-box;
  text-align: center;
  padding: 7px 20px;
  border-bottom: 1px solid #999;
  border-radius: 2%;
  line-height: 20px;
  vertical-align: middle;
  color: #666;
}

.gbtn.right {
  float: right;
}

.gbtn:hover {
  color: #999999;
}

.inner h2 {
  font-size: 30px;
  color: #494949;
  text-align: center;
  margin: 150px 0 50px 0;
}

.inner .global img {
  display: block;
  width: 900px;
  height: 500px;
  padding-top: 40px;
  background-size: 900px auto;
  margin: 0 auto;
}

.inner h4 {
  margin-top: 10px;
}

.box {
  display: flex;
}

.box .items.text {
  padding-top: 130px;
}

.box.items-2:nth-child(2) {
  border-bottom: 1px solid #999;
}

.box.items-2 .items {
  flex: 50%;
}

.box .items {
  box-sizing: border-box;
  padding: 30px;
  font-size: 16px;
  flex: 100%;
  flex-shrink: 0;
}

.box .items p {
  line-height: 28px;
}

.box .items img {
  border-radius: 16px;
  width: 100%;
}

.box .items .icon {
  display: inline-block;
}

.box .items .g-img {
  width: 19px;
  height: 20px;
  vertical-align: text-bottom;
}

#gallery-box-wrap #gallery-box {
  position: relative;
  width: 800px;
  margin: 20px auto;
}

#gallery-box-wrap #gallery-box #navi {
  position: relative;
  width: 800px;
  overflow: hidden;
}

#gallery-box-wrap #gallery-box #navi ul li {
  width: 160px;
  float: left;
}

#gallery-box-wrap #gallery-box #navi ul li img {
  width: 100%;
  border: 3px solid white;
}

#gallery-box-wrap #gallery-box #navi .page-wrap {
  width: 1600px;
}

#gallery-box-wrap #gallery-box #navi .page-wrap .page {
  float: left;
  overflow: hidden;
}

#gallery-box-wrap #gallery-box .navi-wrap {
  position: relative;
}

#gallery-box-wrap #gallery-box .navi-wrap > img {
  position: absolute;
  top: 33%;
  z-index: 500;
  cursor: pointer;
}

#gallery-box-wrap #gallery-box .navi-wrap > img.next {
  right: 0;
  transform: translate(100%, 60%);
}

#gallery-box-wrap #gallery-box .navi-wrap > img.prev {
  left: 0;
  transform: translate(-100%, 60%);
}

#gallery-box-wrap #gallery-box #main {
  width: 800px;
  height: 450px;
  float: right;
}

#gallery-box-wrap #gallery-box #main img {
  position: absolute;
  width: 100%;
}

.content.faq .bestfaq {
  padding-left: 18px;
  font-size: 17px;
  height: 45px;
  color: #444;
  line-height: 50px;
  margin-top: 60px;
  border-top: 2px solid #000;
}

.content.faq .bestfaq strong {
  color: #BD0000;
}

.content.faq .btn {
  font-size: 14px;
  display: inline-block;
  float: right;
  background: #f3f3f3;
  padding: 0 25px;
  margin-top: 10px;
  line-height: 30px;
  border: 1px solid #dbdbdb;
  border-radius: 6px;
  color: #444;
  font-weight: bold;
}

.accordian dl {
  margin: 10px auto;
}

.accordian dl dt {
  /* html에있는 16px 기준으로 ?  */
  text-indent: 1em;
  font-size: 17px;
  color: #000;
  line-height: 50px;
  height: 50px;
  border-bottom: 1px solid #ddd;
}

.accordian dl dt:first-child {
  border-top: 2px solid black;
}

.accordian dl dt img {
  width: 26px;
  transform: translateY(20%);
  padding-right: 5px;
}

.accordian dl dd {
  font-size: 15px;
  margin: 0;
  height: 300px;
  line-height: 27px;
  background: #f4f4f2;
}

.accordian dl dd p {
  margin: 0;
  padding: 35px;
}

.accordian dl dd p:before {
  display: block;
  content: "A";
  color: #BD0000;
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 1.4rem;
}

table + .gbtn {
  margin-top: 20px;
}

table.common-table {
  width: 100%;
  margin: 50px auto 0;
  border-collapse: collapse;
}

table.common-table th, table.common-table td {
  padding: 15px;
  font-size: 16px;
  vertical-align: middle;
  height: 15px;
}

table.common-table th {
  text-align: left;
  font-weight: 500;
  color: white;
  background: #443e41;
}

table.common-table th:nth-child(3), table.common-table th:nth-child(4) {
  text-align: center;
}

table.common-table td {
  font-size: 14px;
  font-weight: 300;
  color: #666666;
  border-bottom: 1px solid #d5d5d5;
}

table.common-table td:nth-child(3), table.common-table td:nth-child(4) {
  text-align: center;
}

table.common-table td .btn {
  display: inline-block;
  width: 78px;
  height: 24px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#f73529), to(#bd0000));
  color: #f5f5f5;
  line-height: 22px;
  font-weight: bold;
  font-size: 13px;
}

table.common-table td .btn:hover {
  text-decoration: underline;
}

table.common-table tr:not(:first-child):hover {
  background: #f4f4f2;
}

#map {
  margin-top: 70px;
}

#map .marker-title {
  font-weight: 700;
  font-size: 18px;
}

.items.map {
  margin: 20px;
}

.items.map p {
  margin: 10px;
}

#wrap {
  margin: 0 auto;
  width: 1320px;
  /* footer */
}

#wrap #header {
  position: relative;
  height: 80px;
  z-index: 500;
}

#wrap #header #top-logo {
  float: left;
  padding: 10px 25px;
}

#wrap #header #top-logo a {
  height: 60px;
  line-height: 60px;
}

#wrap #header #top-logo a img {
  height: 30px;
}

#wrap #header #top-nav {
  position: relative;
  height: 60px;
  float: right;
}

#wrap #header #top-nav ul {
  float: left;
}

#wrap #header #top-nav ul li {
  position: relative;
  float: left;
  margin-left: 70px;
}

#wrap #header #top-nav ul li:first-child {
  margin-left: 0;
}

#wrap #header #top-nav ul li:hover .sub-menu {
  opacity: 1;
}

#wrap #header #top-nav ul li:hover .sub-menu li {
  height: 40px;
  opacity: 1;
}

#wrap #header #top-nav ul li a {
  width: 100%;
  height: 60px;
  line-height: 80px;
}

#wrap #header #top-nav ul li .sub-menu {
  position: absolute;
  top: 100%;
  border: 1px solid #999;
  opacity: 0;
  transition: .5s;
}

#wrap #header #top-nav ul li .sub-menu li {
  margin: 0;
  min-width: 150px;
  width: 100%;
  height: 0;
  padding: 0 10px;
  box-sizing: border-box;
  background: white;
  opacity: 0;
  transition-duration: .5s;
}

#wrap #header #top-nav ul li .sub-menu li a {
  line-height: 40px;
  color: #999;
}

#wrap main {
  min-height: calc( 100vh - (60px + 600px) - 51px);
}

#wrap #footer {
  margin-top: 50px;
  color: #333333;
}

#wrap #footer .footer-top {
  padding: 60px 0 30px;
}

#wrap #footer > .container {
  padding: 30px 0;
  text-align: center;
}

#wrap #footer .container {
  margin: 0 auto;
}

#wrap #footer .container .row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#wrap #footer .container .row .column {
  flex: 25%;
  box-sizing: border-box;
  padding: 0 10px;
  margin-bottom: 30px;
}

#wrap #footer .container .row .column.footer-logo {
  flex: 130px;
}

#wrap #footer .container .row .column.footer-logo h3 {
  font-size: 34px;
  padding: 2px 0 2px 0;
  font-weight: 700;
  letter-spacing: 3px;
}

#wrap #footer .container .row .column h4 {
  position: relative;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 12px;
  margin-bottom: 20px;
}

#wrap #footer .container .row .column h4:before, #wrap #footer .container .row .column h4:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
}

#wrap #footer .container .row .column h4:before {
  right: 0;
  background: #888;
}

#wrap #footer .container .row .column h4:after {
  width: 60px;
  background: #999;
}

#wrap #footer .container .row .column ul li {
  border-bottom: 1px solid #999;
  padding: 10px 0;
}

#wrap #footer .container .row .column ul li:nth-child(1) {
  padding-top: 0;
}

#wrap #footer .container .row .column p {
  line-height: 30px;
}

#mainbanner {
  height: 700px;
  background-size: cover;
  background-position: 50% 50%;
}

#mainbanner .maintext {
  position: absolute;
  top: 45%;
  left: 290px;
  color: #fff;
}

#mainbanner .maintext .maintitle {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 30px;
}

#mainbanner .maintext .subtitle {
  font-size: 22px;
  color: #fff;
}

.inner:nth-child(1) {
  margin-top: 50px;
}

.inner .box.items-2 p + a {
  margin-top: 30px;
}

body.subpage main .container {
  display: flex;
}

body.subpage main .container #lnb {
  flex: 220px;
  flex-shrink: 0;
  flex-grow: 0;
  box-sizing: border-box;
  padding-right: 70px;
}

body.subpage main .container #lnb ul li.on a {
  color: #fff;
  background: #bd0000;
  padding-left: 20px;
}

body.subpage main .container #lnb ul li:hover a {
  padding-left: 20px;
}

body.subpage main .container #lnb ul li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  line-height: 50px;
  font-size: 18px;
  box-sizing: border-box;
}

body.subpage main .container .content {
  flex: 100%;
}

body.subpage main .container .sub-title span {
  position: relative;
  display: inline-block;
  padding-bottom: 6px;
  font-size: 24px;
  font-weight: bold;
  line-height: 43px;
}

body.subpage main .container .sub-title span:after {
  content: '';
  position: absolute;
  height: 2px;
  background: #999;
  bottom: 0;
  left: 0;
  right: 0;
}

body.subpage main .container .inner + .inner {
  margin-top: 50px;
  padding-top: 50px;
  border-top: 1px solid #999;
}

body.subpage main .container .inner .box {
  flex-wrap: wrap;
}

.content {
  min-height: 900px;
}

.content .category .category-title {
  margin-top: 60px;
  font-size: 21px;
}

.content .category .sub-title {
  margin-bottom: 40px;
}

.content .category .wrap .ser-items {
  padding-bottom: 30px;
  margin-top: 30px;
  width: calc(33%);
  position: relative;
  float: left;
}

.content .category .wrap .ser-items .subtitle {
  font-weight: 700;
  color: #494949;
  margin-bottom: 15px;
}

.content .category .wrap .ser-items p {
  font-size: 14px;
  color: #999;
}

.content .category .wrap .ser-text {
  padding: 0px 0 0 90px;
  line-height: 15px;
}

.content .category .wrap img {
  position: absolute;
  width: 70px;
  height: 70px;
  vertical-align: middle;
}

.content.gallery .inner #gallery-box-wrap {
  margin-top: 80px;
}

.content.faq {
  min-height: 650px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  /* left: -380px; */
  top: -100px;
  /* text-align: center; */
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  /* justify-content: center; */
  /* -webkit-box-align: center; */
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 슬라이더 1.정직한가격~ 이부분 사진 색깔 바꾸기 */
.swiper-button-next, .swiper-button-prev {
  color: #fff;
}

.swiper-button-prev {
  left: 10px;
}

.swiper-button-next {
  right: 10px;
  bottom: 90px;
}

/* 슬라이더 1.정직한가격~ 1장일때는 왼쪽버튼이 안보임. 3장일때는 오른쪽 버튼이 안보임. */
.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
  opacity: 0;
}
